<div class="ui half-width-container">
	<div style="justify-content:center;" class="first light-blue">
		<div class="ui title-bar">
			<div class="ui section-heading ">RECENT ACHIEVEMENTS
																																																																																																																				</div>
			<div class="ui link">
				<a href="#" class="link-content"></a>
			</div>
		</div>
		<div class="ui slider">
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_RuTAGe.jpg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IITRoorkee inaugurates Uttarakhand’s first RuTAGe Smart Village Centre in Almora
																																																																																																																						</div>
					<div class="ui intro-text justify">The RuTAGe Smart Village Centre (RSVC) model, conceptualised by the Office of the Principal Scientific Advisor (PSA), Government of India, and led by IIT Roorkee, was honoured with the first prize at the NSE's Social Stock Exchange event in Varanasi on August 31, 2024.
																																																																																																																						</div>
					<a href="https://www.educationtimes.com/article/newsroom/99736493/iit-roorkee-inaugurates-uttarakhands-first-rutage-smart-village-centre-in-almora" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_IOCL.jpeg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee's Perovskite Start-Up Wins in IOCL Challenge for Solar Innovation
																																																																																																																						</div>
					<div class="ui intro-text justify">IIT Roorkee's Perovskite Innovation Pvt Ltd wins Indian Oil's Start-Up Challenge award, aiming to drive green energy initiatives for a sustainable future. Know details here Perovskite Innovation Pvt Ltd, an Indian start-up focusing on indigenous perovskite solar cell production, incubated
																																																																																																																						</div>
					<a href="https://www.shiksha.com/news/engineering-iit-roorkee-s-perovskite-start-up-wins-in-iocl-challenge-for-solar-innovation-blogId-164291" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_gun-shot.jpg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee-based startup develops gun-shot detection technology
																																																																																																																						</div>
					<div class="ui intro-text justify">A startup, Linearised Amplifier Technologies and Services (Linear-AmpTech), incubated at iHub DivyaSampark of Indian Institute of Technology (IIT) Roorkee has secured the top spot in the Dare to Dream 4.0 contest hosted by Defence Research and Development Organisation (DRDO).
																																																																																																																						</div>
					<a href="https://news.careers360.com/iit-roorkee-based-startup-developers-gun-shot-detection-technology" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_UPTL.jpg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT-R Partners with UTPL for urology &amp;medical device technology
																																																																																																																						</div>
					<div class="ui intro-text justify">Indian Institute of Technology, Roorkee and UnivLabs Technology Private Limited, India, have signed a Technology Transfer Agreement and a MOA for translating research findings into real-world applications.
																																																																																																																						</div>
					<a href="https://www.medicalbuyer.co.in/iit-r-partners-with-utpl-for-urology-medical-device-technology/" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_Permionics.jpg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee licences 3 environmentally sustainable tech to Permionics Global
																																																																																																																						</div>
					<div class="ui intro-text justify">The Indian Institute of Technology (IIT) Roorkee on Monday signed a technology transfer agreement with Gujarat-based Permionics Global Technologies for licensing of three innovative, environmentally sustainable technologies.
																																																																																																																						</div>
					<a href="https://www.sakshipost.com/news/iit-roorkee-licences-3-environmentally-sustainable-tech-permionics-global-288195" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_Fossils230424.jpg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee professors discover fossil of 47-million-year-old snake in Gujarat
																																																																																																																						</div>
					<div class="ui intro-text justify">Researchers at the Department of Earth Sciences at IIT-Roorkee made a groundbreaking discovery in Gujarat, unearthing the fossil of a 47-million-year-old snake.
																																																																																																																						</div>
					<a href="https://www.hindustantimes.com/trending/iit-roorkee-professors-discover-fossil-of-47-million-year-old-snake-in-gujarat-see-pic-101713523529459.html" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_IITR12.jpg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee Wins Most Innovative Institute Awards At CII Industrial Innovation
																																																																																																																						</div>
					<div class="ui intro-text justify">The Indian Institute of Technology Roorkee (IIT Roorkee) was recognized with the Grand Jury Award for its outstanding innovative research contributions and was also presented with the Most Innovative Institute award for 2023 at the 10th edition of the Confederation of Indian Industry (CII)
																																																																																																																						</div>
					<a href="https://www.freepressjournal.in/education/iit-roorkee-wins-most-innovative-institute-awards-at-cii-industrial-innovation-awards-2023" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_grid.jpg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee leads study on Advanced Grid-Scale Energy Storage Technologies
																																																																																																																						</div>
					<div class="ui intro-text justify">This comprehensive study positions IIT Roorkee at the forefront of cutting-edge research, showcasing its dedication to providing India-centric solutions for a sustainable and resilient energy future Secretary
																																																																																																																						</div>
					<a href="https://www.msn.com/en-in/news/techandscience/iit-roorkee-leads-study-on-advanced-grid-scale-energy-storage-technologies/ar-AA1kL6Tq" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_G20Standard.jpg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee shines at 'G20 Standards Dialogue', representing India on global
																																																																																																																						</div>
					<div class="ui intro-text justify">IIT Roorkee made its mark at the &quot;G20 Standards Dialogue &quot;event, showcasing its commitment to strengthening stakeholder engagement and global standardisation.
																																																																																																																						</div>
					<a href="https://www.indiatoday.in/education-today/news/story/iit-roorkee-shines-at-g20-standards-dialogue-representing-india-on-global-stage-2458356-2023-11-05" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_CCRI.JPG" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee's Prof. Ashwani Kumar Sharma Awarded Prestigious Honorary Fellowship
																																																																																																																						</div>
					<div class="ui intro-text justify">The Asian Citrus Congress-2023, held in Nagpur, India from October 28th to 30th, celebrated a historic moment where over 300 delegates from 16 countries unites to advance the field of citriculture.
																																																																																																																						</div>
					<a href="https://www.cityairnews.com/content/iit-roorkees-prof-ashwani-kumar-sharma-awarded-prestigious-honorary-fellowship-at-asian-citrus-congress-2023" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_Young.jpeg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee professor gets IEI Young Engineers Award 2023-24 in Environmental
																																																																																																																						</div>
					<div class="ui intro-text justify">Indian Institute of Technology (IIT) Roorkee professor has won the ‘IEI Young Engineers Award 2023-24’ in the Environmental Engineering discipline. The IIT Roorkee Professor Ankit Agarwal is from the department of hydrology.
																																																																																																																						</div>
					<a href="https://indianexpress.com/article/education/iit-roorkee-professor-gets-iei-young-engineers-award-2023-24-in-environmental-engineering-9003455/" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_remote.jpg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee Researchers Help In Understanding Humming Of Our Universe
																																																																																																																						</div>
					<div class="ui intro-text justify">An International team of astronomers from India, Japan and Europe has recently published the results from monitoring nature's best clocks, pulsars using six of the World's most sensitive radio telescopes, including India's largest telescope, uGMRT.
																																																																																																																						</div>
					<a href="https://www.devdiscourse.com/article/headlines/2506057-iit-roorkee-researchers-help-in-understanding-humming-of-our-universe-observed-through-gravitational-waves" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_IITR12.jpg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">NIRF Rankings 2023: IIT Roorkee Ranked Top Institute Of Architecture &amp;Planning
																																																																																																																						</div>
					<div class="ui intro-text justify">As per the NIRF Ranking 2023, the Indian Institute of Technology, Roorkee, has ranked as the top Institutes of Architecture and Planning in India. The other top institutes include National Institute of Technology, Calicut; Indian Institute of Technology, Kharagpur; National Institute of Technology
																																																																																																																						</div>
					<a href="https://www.india.com/education/nirf-rankings-2023-iit-roorkee-ranked-top-institute-of-architecture-and-planning-full-list-here-6091534/" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_Outstanding.jpeg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee Professor Felicitated For Outstanding Contributions
																																																																																																																						</div>
					<div class="ui intro-text justify">Indian Institute of Technology Roorkee (IIT Roorkee) achieves another milestone. Prof Ramesh Chandra, Institute Instrumentation Centre, IIT Roorkee, was honoured at the recent DRDO-Academia Conclave organized by Defence Research and Development Organizations (DRDO) on May 25 – 26, 2023, at DRDO
																																																																																																																						</div>
					<a href="https://skilloutlook.com/education/iit-roorkee-professor-felicitated-for-outstanding-contributions-towards-developing-technology-for-drdo" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_Award22.jpeg" alt="There is an image here" contentLink=""/>
				</div>
				<div class="content">
					<div class="ui sub-heading ">IIT Roorkee-Backed Start-Up Indi Energy Wins National Award 2022
																																																																																																																						</div>
					<div class="ui intro-text justify">Indian Institute of Technology Roorkee’s (IIT Roorkee) start-up Indi Energy, which specializes in manufacturing Sodium-Ion batteries, has won the National Startup Awards 2022 in ‘Energy Storage’ category.
																																																																																																																						</div>
					<a href="https://neindiabroadcast.com/2023/01/23/iit-roorkee-backed-start-up-indi-energy-wins-national-award-2022/" class="ui button">READ MORE
																																																																																																																						</a>
				</div>
			</div>
		</div>
	</div>
	<div style="justify-content:center;" class="second light-blue">
		<div class="ui title-bar">
			<div class="ui section-heading ">Recently Granted Patents
																																																																																																																				</div>
			<div class="ui link">
				<a href="https://iitr.ac.in/Careers/static/TT_Poster_12Sept2024.pdf" class="link-content">Read More
																																																																																																																					</a>
			</div>
		</div>
		<div class="ui slider">
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_11.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_01.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_02.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_03.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_04.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_05.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_06.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_07.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_08.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_09.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
			<div class="ui image-description-card">
				<div class="ui image">
					<img src="./assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_TT_Poster_12Sept2024_Page_10.jpg" alt="Alt text" contentLink=""/>
				</div>
				<div class="info">
					<div class="ui section-heading" onclick="window.open('#')"></div>
					<div class="ui description justify"></div>
				</div>
			</div>
		</div>
		<div class="ui title-bar">
			<div class="ui section-heading ">Available for Licensing
																																																																																																																				</div>
			<div class="ui link">
				<a href="https://iitr.ac.in/Institute/Recently_Granted_Patents.html" class="link-content">For More Technology: Click Here
																																																																																																																					</a>
			</div>
		</div>
	</div>
</div>