body.loading > div:not(.loader) {
    display: none;
}

.ui.loader {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 95vw;
    height: 100vh;
    padding: 1rem;
}

.ui.loader > .slogan-logo {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ui.loader > .slogan-logo > svg > .building-path {
    stroke-dasharray: 5336.8955078125;
    stroke-dashoffset: 0;
    animation: drawForward 9.1s forwards, drawInfinite 20s 10s infinite;
}

@keyframes drawForward {
    0% {
        stroke-dashoffset: 5336.8955078125;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes drawInfinite {
    0% {
        stroke-dasharray: 5286.8955078125 50;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 5286.8955078125 50;
        stroke-dashoffset: -5336.8955078125;
    }
}

#start-ball {
    opacity: 0;
    stroke-dasharray: 5 5331.8955078125;
    stroke-linecap: round;
    animation: fadeIn 0s 10s forwards, moveBallStart 20s 10s infinite;
}

#end-ball {
    opacity: 0;
    stroke-dasharray: 5 5331.8955078125;
    stroke-linecap: round;
    animation: fadeIn 0s 10s forwards, moveBallEnd 20s 10s infinite;
}

@keyframes moveBallStart {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -5336.8955078125;
    }
}

@keyframes moveBallEnd {
    0% {
        stroke-dashoffset: -5286.8955078125;
    }

    100% {
        stroke-dashoffset: -10623.791;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.ui.loader > .slogan-logo > div {
    padding-top: 1rem;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 1rem;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.ui.loader > .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.ui.loader > .bottom-row > button {
    background: none;
    color: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 400;
    font-size: 1rem;
    width: 12%;
    border: 1px solid rgba(35, 35, 35, 1);
    border-radius: 2px;
    padding: 0.5rem;
}

/* animations */
@keyframes revealText {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}