.ui.stats-card {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ui.carousel-stats > .ui.flexbox > .ui.stats-card {
    padding: 0rem;
    justify-content: center;
}

